<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/phb.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <div class="wrapper row">
        <div class="home">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
          <small>{{ metadata.description }}</small>
        </div>

        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <nav>
          <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="wrapper {% if templateclass %} {{ templateClass }}{% endif %}">
      {{ content | safe }}
    </main>

    <footer>
      <a href="https://github.com/ElfFriend-DnD/eleventy-dnd-microsite-template">
        <div class="svg-icon github"></div>
      </a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>